@import "../../variables";

.beer-card-container__display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.beer-card-container__heading{
    font-family: $font-heading;
    text-align: center;
    font-size: 4rem;
    color: $colour-dark-blue;
    margin-top: 0;
    margin-bottom: 10px;
    
}