@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Secular+One&display=swap');

$font-main: 'Quicksand', sans-serif;
$font-heading: 'Secular One', sans-serif;

$colour-medium-blue: #37afcd;
$colour-light-blue: #d8f0f9;
$colour-white: #fefefe;
$colour-dark-navy: #212f35;
$colour-dark-blue: #19506a;


